@import 'yeticss'

textarea
  resize: vertical
  min-height: 450px

pre
  background: #eee
  margin: 0
  border: 1px dashed

  code
    font-size: 16px

#shell
  margin-top: 30px
  width: 95%

fieldset
  padding: 15px
  margin-bottom: 15px

  .grid-flex-cell
    margin: 0

.grid-flex-cell
  padding: 0

pre.message
  max-height: 550px

.is-json
  .show-xml
    display: none

  .form-input,
  select
    margin: 0

.is-xml
  .show-json
    display: none

  .output-type
    margin-left: 0